<ul>
  {{#each results}}
  <li>
    <input type="checkbox">
    {{id}}: {{description}}: {{done}}
    </input>
  </liv>
  {{/each}}
</ul>

<form action="/submit" method="POST">
  <label>To Do List</label>
  <br><br>
  <input type="text" name="description">
  <br><br>
  <button type="submit">Submit</button>
</form>
